<table class="table table-bordered">
    <thead>
        <tr class="table-secondary">
            <th>企業名</th>
            <th>面接日</th>
        </tr>
    </thead>
    <tbody>
        <% @company_names.each do |company_name| %>
        <tr>
            <td><%= company_name.company_name %></td>
            <td><%= company_name.interview_date %></td>
        </tr>
        <% end %>
    </tbody>
</table>

